.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 110px;
  padding: 16px 16px 110px;
  height: 100vh;
  overflow: hidden;
}

.content {
  flex: 1;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 24px;
}
