.button {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  border: none;
  border-radius: 45px;
  color: var(--color-light);
  cursor: pointer;
}

.pink {
  background: var(--color-pink-500);
}

.grey {
  background: var(--color-gray-800);
}
