.card {
  width: 128px;
  height: auto;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: var(--color-black-50);
}

.cover {
  width: 112px;
  height: 103px;
  object-fit: cover;
}

.wrapButton {
  display: flex;
  gap: 4px;
  align-items: flex-start;
}
