.card {
  width: 190px;
  height: auto;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: var(--color-black-50);
}
.card-small-with-reaction {
  width: 328px;
  height: 60px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  background: var(--color-dark);
}

.cover {
  width: 174px;
  height: 153px;
  object-fit: cover;
}

.cover-small-with-reaction {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.wrapButton {
  display: flex;
  gap: 6px;
  align-items: flex-start;
}
